.ticketHistroy{
    display: flex;
    flex-direction: column;
}

.ticketHistroy .histroyCard{
    display: flex;
    flex-direction: column;
    gap: -6rem;
}

.ticketHistroy .histroyCard .histroy{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    justify-content: space-between;
    border-bottom: 3px solid var(--main-color);
    margin-top: -1px;
}

.ticketHistroy .histroy span{
    font-weight: 500;
}