.activateBetCashback{
    margin-top: 1rem;
}

.activateBetCashback h1{
    color: var(--main-color);
    font-size: 24px;
    margin-bottom: 1rem;
}

.activateBetCashback p{
    font-size: 16px;
}

.activateBetCashback h3{
    margin-top: 1.5rem;
    color: var(--main-color);
}

.activateBetCashback ul{
    margin-bottom: 5px;
}

.activateBetCashback ul li{
    font-weight: 500;
    margin-left: 1rem;
    margin-right: 1rem;
}

.activateBetCashback small{
    font-weight: 700;
    font-size: 15px;
}

.activateBetCashback .btn{
    margin-top: 2rem;
}