.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 3px solid var(--main-color);
    position: fixed;
    width: calc(100vw - 350px);
    top: 0;
    right: 0;
    background: var(--white);
    z-index: 20;
}

.header h2{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
}

.header .left{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header .greating{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header .notifications{
    position: relative;
}

.header .notifications span{
    position: absolute;
    background: var(--main-color);
    color: var(--white);
    padding: 6px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 1px;
    top: 3px;
    font-size: 14px;
}

.header .bellIcon{
    font-size: 30px;
    cursor: pointer;
}

.header .menuBox{
    display: none;
}

@media screen and (max-width: 1000px) {
    .header .menuBox{
        display: block;
        font-size: 36px;
        cursor: pointer;
    }

}

@media screen and (max-width: 1000px) {
    .header{
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .header{
        margin-bottom: 1rem;
    }
}